@using Project.Models
@model FilterModel
@{
    ViewBag.Title = "Sections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h2>@Html.ActionLink("" + (string)ViewBag.Course.title, "Index", "Admin")</h2>

    <h3>Sections</h3>

    <div>
        @Html.ActionLink("Add section", "AddSection", "Admin", new { id = ViewBag.Course.id }, new { @class = "button" })
    </div>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sectionCourse in ViewBag.Sections)
                {
                    <tr>
                        <td>@sectionCourse.title</td>
                        <td>@Html.ActionLink("Subsections", "Subsections", "Admin", new { id = (string)("" + sectionCourse.id) }, new { @class = "button", style = "float:right;" })</td>
                        <td>@Html.ActionLink("Edit", "EditSection", "Admin", new { id = (string)("" + sectionCourse.id) }, new { @class = "button", style = "float:right;" })</td>
                        @using (Html.BeginForm("DeleteSection", "Admin", FormMethod.Post, new { id = "deleteSectionForm" }))
                        {
                            @Html.Hidden("idSection", (string)("" + sectionCourse.id))

                            <td><input type="submit" value="Delete section" class="button special" onclick="return confirm('Are you sure you want to delete this section?');" style="float:right;" /></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>